@model VD.Models.TinTuyenDung
@{
    ViewBag.Title = "Đăng tin tuyển dụng mới";
    Layout = "~/Views/Shared/_MainPageNTD.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Wavefire Coding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/styles/style.css">
    <style>
        /* Your custom CSS styles here */

        .box-container {
            margin-left: 400px; /* Căn lề trái */
            margin-right: 400px; /* Căn lề phải */
            padding-top: 200px;
        }
    </style>
</head>

<!-- Main content -->
<body>
    <div class="main-wrap">
        <div class="box-container ">
            <h2 class="text-center mb-4">@ViewBag.Title</h2>
            @using (Html.BeginForm("Add_TTD", "TinTuyenDung", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="TieuDe">Tiêu đề</label>
                    <input type="text" class="form-control" id="TieuDe" name="TieuDe" placeholder="Tieu đề" required>
                </div>
                <div class="form-group">
                    <label for="YeuCau">Yêu cầu</label>
                    <input type="text" class="form-control" id="YeuCau" name="YeuCau" placeholder="Yêu cầu">
                </div>
                <div class="form-group">
                    <label for="TgLam">Thời gian làm</label>
                    <input type="text" class="form-control" id="TgLam" name="TgLam" placeholder="Thời gian làm">
                </div>
                <div class="form-group">
                    <label for="HanUT">Hạn ứng tuyển</label>
                    <input type="date" class="form-control" id="HanUT" name="HanUT">
                </div>
                <div class="form-group">
                    <label for="SoLuongTD">Số lượng tuyển dụng</label>
                    <input type="text" class="form-control" id="SoLuongTD" name="SoLuongTD" placeholder="Số lượng tuyển dụng">
                </div>
                <div class="form-group">
                    <label for="PhucLoi">Phúc lợi</label>
                    <input type="text" class="form-control" id="PhucLoi" name="PhucLoi" placeholder="Phúc lợi">
                </div>
                <div class="form-group">
                    <label for="MucLuong">Mức lương</label>
                    <input type="text" class="form-control" id="MucLuong" name="MucLuong" placeholder="Mức lương">
                </div>
                <div class="form-group">
                    <label for="CapBac">Cấp bậc</label>
                    <input type="text" class="form-control" id="CapBac" name="CapBac" placeholder="Cấp bậc">
                </div>
                <div class="form-group">
                    <label for="ID_CV">Công việc</label>
                    <select class="form-control" id="ID_CV" name="ID_CV" required>
                        <option value="">Chọn công việc</option>
                        @foreach (var lv in ViewBag.CongViecs)
                        {
                            <option value="@lv.ID_CV">@lv.TenCV</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ID_NTD">Nhà tuyển dụng</label>
                    <select class="form-control" id="ID_NTD" name="ID_NTD" required>
                        <option value="">Chọn nhà tuyển dụng</option>
                        @foreach (var lv in ViewBag.NhaTuyenDungs)
                        {
                            <option value="@lv.ID_NTD">@lv.TenNTD</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Thêm mới</button>
                    @{ var taiKhoan = Session["TaiKhoan"] as VD.Models.TaiKhoan;}
                    <a href="/TinTuyenDung/Index_TTD/@taiKhoan.ID_TK" class="btn btn-danger btn-block">Quay lại</a>
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<!-- /.content -->
</html>

