@model VD.Models.UngVien

@{
    ViewBag.Title = "DoiUV";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi thông tin cho ứng viên | Wavefire Coding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/styles/style.css">
    <style>
        /* Your custom CSS styles here */

        .box-container {
            margin-left: 400px; /* Căn lề trái */
            margin-right: 400px; /* Căn lề phải */
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <div class="main-wrap">
        <div class="box-container ">
            <h2 class="text-center mb-4">Đổi thông tin cho ứng viên</h2>
            <form action="~/Home/DoiUV" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(model => model.ID_TK)
                @*<div class="form-group">
                    @Html.LabelFor(model => model.TaiKhoan.TenDN, "Tên đăng nhập:")
                    @Html.TextBox("tenDangNhap", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TaiKhoan.MK, "Mật khẩu:")
                    @Html.Password("matKhau", null, new { @class = "form-control" })
                </div>*@
                <div class="form-group">
                    <label for="fullname">Họ và tên:</label>
                    <input type="text" class="form-control" id="HoTen" name="HoTen" required>
                    @*@Html.LabelFor(model => model.HoTen)
            @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <label for="dob">Ngày tháng năm sinh:</label>
                    <input type="date" class="form-control" id="DOB" name="DOB" required>
                    @*@Html.LabelFor(model => model.DOB)
            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <label for="gender">Giới tính:</label>
                    <select class="form-control" id="GioiTinh" name="GioiTinh" required>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    @*@Html.LabelFor(model => model.GioiTinh)
            @Html.TextBoxFor(model => model.GioiTinh, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại:</label>
                    <input type="tel" class="form-control" id="SDT" name="SDT" required>
                    @*@Html.LabelFor(model => model.SDT)
            @Html.TextBoxFor(model => model.SDT, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="Email" name="Email" required>
                    @*@Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <label for="cv">CV:</label>
                    <input type="file" class="form-control-file" id="cv" name="cv" accept=".pdf,.doc,.docx" @*required*@>
                    @*@Html.LabelFor(model => model.CV)
            @Html.TextBoxFor(model => model.CV, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <label for="cv">Sơ yếu lý lịch:</label>
                    <input type="file" class="form-control-file" id="syll" name="syll" accept=".pdf,.doc,.docx" @*required*@>
                    @*@Html.LabelFor(model => model.SYLL)
            @Html.TextBoxFor(model => model.SYLL, new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Đổi thông tin</button>
                </div>
            </form>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


